body {
  background-color: rgb(42, 42, 44);
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
}

.canvas__wrapper {
  background-color: yellow;
  
}

.contents {
  display: flex;
  justify-content: center;
  margin-left: 29%;
}

.testing__input {
  margin-left: 150px;
  width: 250px;
}

.data__entry {
  height: 100%;
  width:  100%;
  background-color: rgb(42, 42, 44);
  color: white;
  border-radius: 10px;
}

.wilder {
  width: 30px;
  border-radius: 5px;
}

.wilder__button {
  border-radius: 5px;
  background-color: gold;
}

